# Python virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Credentials
service_account.json

# Cache or compiled files
__pycache__/
*.pyc

data/
config.yaml


Todo.txt
test.py

local messing/